@import "tailwindcss";

.tiro-bangla-regular {
    font-family: "Tiro Bangla", serif;
    font-weight: 400;
    font-style: normal;
}

.tiro-bangla-bold {
    font-family: "Tiro Bangla", serif;
    font-weight: 700;
    font-style: normal;
}

.tiro-bangla-regular-italic {
    font-family: "Tiro Bangla", serif;
    font-weight: 400;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6, p, li {
    font-family: "Tiro Bangla", serif;
    font-weight: 500;
    font-style: normal;
}

